body {
    background-color: rgb(243, 243, 243);
    font-size: 18px;
}
header {
    background: #cb202d;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 5px 15px;
}
input {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;
    padding: 12px 10px;
    width: 300px;
}
.api-call {
    background-color: #cb202d;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    padding: 10px 10px;
    width: 100px;
}
.api-call:hover {
    background:#D94148;
}
.api-call:active {
    transform: translateY(4px);
}
.buttons {
    background-color: #cb202d;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;
    padding: 4px;
    width: 280px;
}
.buttons:hover {
    background:#D94148;
}
.buttons:active {
    transform: translateY(4px);
}
.formWrapper {
    background-color: #cb202d;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 25px;
    width: 875px;
}
.formWrapper span {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding-right: 20px;
}
.results {
    background-color: white;
    border-radius: 5px;
    height: 200px;
    margin: 0 auto;
    overflow: auto;
    width: 65%;
}
.resultsWrapper {
    /* background-color: #cb202d;
    border-radius: 5px; */
    margin: 0 auto;
    padding: 10px 25px;
    width: 875px;
}
.wrapper {
    margin: 25px 25px;
}